{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    {% render 'tagInstallHead' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {% if handle == '/collections' %}
      <meta name="robots" content="noindex">
    {% endif %}
    
    {% if collection.url == '/collections/all' %}
      <script type="text/javascript">
        window.location = "https://waaw.com.br/collections/todos-os-produtos";
      </script>
    {% endif %}
    
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}

    <script type="text/javascript">
      //var _trustvox = [];_trustvox.push(['_storeId', '114666']);_trustvox.push(['_productId', {{product.id}}]);_trustvox.push(['_productName', {{product.title}}]);_trustvox.push(['_productPhotos', [{{ImagesSourceList}}]]);
      var _trustvox = [];_trustvox.push(['_storeId', '114666']);_trustvox.push(['_productId', '{{product.id}}']);_trustvox.push(['_productName', '{{product.title}}']);
    </script>
    <script async="true" type="text/javascript" src="//static.trustvox.com.br/sincero/sincero.js"></script>

    <script type="text/javascript">
      var _trustvox_shelf_rate = _trustvox_shelf_rate || [];
      _trustvox_shelf_rate.push(['_storeId', '114666']);
    </script>
    <script type="text/javascript" async="true" src="//rate.trustvox.com.br/widget.js"></script>
    
    {% include 'dataLayer-allPages' %}

    {% if settings.enable-streamshop %}
      {{ settings.html-streamshop }}      
    {% endif %}

    <script id="streamshop-widget-script">
       var streamShopOptions = {
       "live": "
     LiveShop  ,
       "bg": "https://files.streamshop.com.br/7140a9ce-532d-41ed-a630-fb44afc810ea/9818b6ef-ee7c-430b-8933-06a2b1bb5281.png",
       "positionX": "left",
       "positionY": "bottom",
       "spacingPositionX": 17,
       "spacingPositionY": 63,
       "height": 115,
       "width": 115,
       "animation": true,
       "borderRadius": 21,
       "video": {
         "enable": false,
         "url": ""
       },
       "onHover": {
         "enable": false,
         "height": 170,
         "width": 170
       },
       "wizard": {
         "addWidget": true,
         "addStreamAds": false,
         "streamAdsFormat": 1,
         "embedSelectedFormat": 1,
         "previewSelected": 1,
         "liveVideoUrl": "",
         "endedWizard": true
       },
       "redirectFromProduct": false
     };
    
       // Core Script (do not touch)
       (function (i, s, o, g, r, a, m) {
         var p = new Promise(function(rs){return rs();});
         a = s.createElement(o);
         m = s.getElementsByTagName(o)[0];
         a.async = 1;
         a.src = g;
         a.onload = function(){return p.then(function(){return ss(streamShopOptions);});};
         m.parentNode.insertBefore(a, m);
       })(window, document, 'script', 'https://assets.streamshop.com.br/sdk/liveshop-web-sdk.min.js');
       </script>
    
  </head>
  
  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">

    {% render 'tagInstallBody' %}
    {%- render 'shadow-dom-templates' -%}

    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'new-annoucement' %}

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/account' or request.page_type == 'customers/order' or request.page_type == 'customers/addresses' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}

    <main role="main" id="main" class="anchor">
      {{ content_for_layout }}

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>

     {% comment %}Inicio Sellesta{% endcomment %}
    <script type="text/javascript">
(function(r,e,c,o,m,me,n,d,i,x){
    r[m]=r[m]||function(){(r[m].i=r[m].i||[]).push(arguments)},
    me=e.createElement(c),x=e.getElementsByTagName(c)[0],me.async=1,
    me.src=o,x.parentNode.insertBefore(me,x)
})(window,document,'script','https://getrcmx.com/i/tag.js','rcm1x');

rcm1x(8675927,'init', {
    lang:'pt-BR',
    size:'m',
});
</script>
   {% comment %}Fim Sellesta{% endcomment %}
  </body>
</html>