{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --multi-column-grid: {% if section.settings.stack_on_mobile %}none{% else %}auto / auto-flow 73vw{% endif %};
      --multi-column-list-gap: {% if section.settings.gap == 'small' %}var(--grid-gutter){% elsif section.settings.gap == 'medium' %}var(--spacing-12){% elsif section.settings.gap == 'large' %}var(--spacing-20){% else %}var(--spacing-28){% endif %};
        margin-left: {{ section.settings.side_margin }}px;
        margin-right: {{ section.settings.side_margin }}px;
      }

    {% if section.settings.hide_on_mobile == true %}
      @media screen and (max-width: 920px) {
        #shopify-section-{{ section.id }} {
          display: none !important;
        }
      }
    {% endif %}
  </style>

  <div {% render 'section-properties' %}>
    <div class="section-stack">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: section.settings.text_alignment -%}

      <div id="multi-column-carousel" class="multi-column scroll-area bleed md:unbleed">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'item' -%}
              <div class="multi-column__item justify-{{ section.settings.text_alignment }} snap-start" style="--multi-column-item-column-count: span {{ 12.0 | divided_by: block.settings.column_size | round }}" {{ block.shopify_attributes }}>
                {%- if block.settings.video != blank -%}
                  <video-media autoplay style="--aspect-ratio: {{ block.settings.video.aspect_ratio }}">
                    {{ block.settings.video | video_tag: playsinline: true, muted: true, loop: true, preload: 'metadata', class: 'rounded' }}
                  </video-media>
                {%- elsif block.settings.image != blank -%}
                  {%  assign imgWidth = block.settings.image.width | times: block.settings.item_icon_width %}
                  {%- capture sizes -%}(max-width: 699px) calc(73vw - 40px), (max-width: 999px) calc(38vw - 64px), calc(min({{ settings.page_width }}px, 100vw) / {{ block.settings.column_size }}){%- endcapture -%}
                  {{- block.settings.image | image_url: width: imgWidth | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800', class: 'rounded' -}}
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.content != blank or block.settings.link_text != blank -%}
                  <div class="v-stack gap-4 text-{{ section.settings.text_alignment }}">
                    {%- if block.settings.title != blank -%}
                      <p class="{{ block.settings.heading_tag }}">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank or block.settings.link_text != blank -%}
                      <div class="prose">
                        {{- block.settings.content -}}

                        {%- if block.settings.link_text != blank -%}
                          <div>
                            {%- if block.settings.link_style == 'link' -%}
                              <a href="{{ block.settings.link_url }}" class="link">{{ block.settings.link_text | escape }}</a>
                            {%- else -%}
                              {%- render 'button', href: block.settings.link_url, content: block.settings.link_text, size: 'lg' -%}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>

            {%- when 'spacer' -%}
              <div class="multi-column__item hidden md:block" style="--multi-column-item-column-count: span {{ 12.0 | divided_by: block.settings.column_size | round }}" {{ block.shopify_attributes }}></div>
            {%- when 'product_with_banner' -%}
              <div class="multi-column__item" style="--multi-column-item-column-count: span {{ 12.0 | divided_by: block.settings.column_size | round }}" {{ block.shopify_attributes }}>
                {%- if block.settings.banner_image != blank and block.settings.banner_position == 'above' -%}
                  <div class="multi-column__item__banner">
                    {%- if block.settings.banner_link -%}
                      <a href="{{ block.settings.banner_link }}">
                    {%- endif -%}
                    {%- capture sizes -%}(max-width: 699px) calc(73vw - 40px), (max-width: 999px) calc(38vw - 64px), calc(min({{ settings.page_width }}px, 100vw) / {{ block.settings.column_size }}){%- endcapture -%}
                    {{- block.settings.banner_image | image_url: width: block.settings.banner_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800', class: 'rounded' -}}
                    {%- if block.settings.banner_link -%}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              
                {%- if block.settings.product != blank -%}
                  {%- render 'product-card', product: block.settings.product, stacked: true, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color, show_badges: true -%}
                {%- endif -%}

                {%- if block.settings.banner_image != blank and block.settings.banner_position == 'bellow' -%}
                  <div class="multi-column__item__banner">
                    {%- if block.settings.banner_link -%}
                      <a href="{{ block.settings.banner_link }}">
                    {%- endif -%}
                    {%- capture sizes -%}(max-width: 699px) calc(73vw - 40px), (max-width: 999px) calc(38vw - 64px), calc(min({{ settings.page_width }}px, 100vw) / {{ block.settings.column_size }}){%- endcapture -%}
                    {{- block.settings.banner_image | image_url: width: block.settings.banner_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,800,1000,1200,1400,1600,1800', class: 'rounded' -}}
                    {%- if block.settings.banner_link -%}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            {%- when 'newsletter' -%}
              <div class="multi-column__item" style="--multi-column-item-column-count: span {{ 12.0 | divided_by: block.settings.column_size | round }}" {{ block.shopify_attributes }}>
                <div class="multi-column__newsletter" style="background-color: {{ section.settings.newsletter_background_color }}; color: {{ section.settings.newsletter_text_color }}">
                  {%- capture icon -%}
                    {%- if block.settings.custom_icon != blank -%}
                      {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                      {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.custom_icon.width }}{%- endcapture -%}
                      {%- capture style -%}--mobile-icon-max-width: {{ block.settings.mobile_icon_width }}px; --icon-max-width: {{ block.settings.icon_width }}px{%- endcapture -%}
                      {{- block.settings.custom_icon | image_url: width: block.settings.custom_icon.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, style: style, class: 'image-icon' -}}
                    {%- else -%}
                      {%- render 'icon' with block.settings.icon, width: block.settings.mobile_icon_width, height: block.settings.mobile_icon_width, class: 'sm:hidden' -%}
                      {%- render 'icon' with block.settings.icon, width: block.settings.icon_width, height: block.settings.icon_width, class: 'hidden sm:block' -%}
                    {%- endif -%}
                  {%- endcapture -%}
    
                  {%- if icon != blank -%}
                    {%- if block.settings.icon_background_type == 'none' -%}
                      <div {% render 'surface', text_color: block.settings.icon_color %}>
                        {{- icon -}}
                      </div>
                    {%- else -%}
                      {%- capture surface_class -%}icon-block {% if block.settings.icon_background_type == 'circle' %}rounded-full{% endif %}{%- endcapture -%}
                      <div {% render 'surface', class: surface_class, background: block.settings.icon_background, text_color: block.settings.icon_color, background_fallback: 'bg-secondary' %}>
                        {{- icon -}}
                      </div>
                    {%- endif -%}
                  {%- endif -%}

                  <div class="multi-column__newsletter-text">
                    {%- if block.settings.title != blank -%}
                      <h3 class="multi-column__newsletter-title">{{ block.settings.title }}</h3>
                    {%- endif -%}
                    {%- if block.settings.content != blank -%}
                      <div class="multi-column__newsletter-text-content">{{ block.settings.content }}</div>
                    {%- endif -%}
                  </div>
                  
                  <div class="multi-column__newsletter-form">
                    {%- assign newsletter_form_id = 'newsletter-form-' | append: section.id -%}

                    {%- form 'customer', id: newsletter_form_id, class: 'form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- assign success_message = 'general.newsletter.subscribed_successfully' | t -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        <div class="fieldset">
                          {%- capture labelName -%}{{ 'general.newsletter.name' | t }}{%- endcapture -%}
                          {%- render 'input', name: 'contact[firstName]', label: labelName, type: 'text', required: true, autocomplete: 'name', enterkeyhint: '' -%}
                          {%- capture labelEmail -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                          {%- render 'input', name: 'contact[email]', label: labelEmail, type: 'email', required: true, autocomplete: 'email', enterkeyhint: 'send' -%}
                          {%- render 'button', type: 'submit', content: block.settings.button_text, size: 'lg', background: section.settings.button_background, text_color: section.settings.button_text_color -%}
                        </div>
                      {%- endif -%}

                      {%- if block.settings.consent_label != blank -%}
                        <div class="text-xs text-subdued">{{ block.settings.consent_label }}</div>
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
        </div>
      <button id="slideBack" class="button-slide-about" type="button">{% render 'icon' with 'chevron-left' %}</button>
      <button id="slide" class="button-slide-about" type="button">{% render 'icon' with 'chevron-right' %}</button>
        
      <script>
        var button = document.getElementById('slide');
        button.onclick = function () {
          var container = document.getElementById('multi-column-carousel');
          sideScroll(container,'right',50,300,300);
        };

        var back = document.getElementById('slideBack');
        back.onclick = function () {
          var container = document.getElementById('multi-column-carousel');
          sideScroll(container,'left',50,300,300);
        };

        function sideScroll(element,direction,speed,distance,step){
          scrollAmount = 0;
          var slideTimer = setInterval(function(){
              if(direction == 'left'){
                  element.scrollLeft -= step;
              } else {
                  element.scrollLeft += step;
              }
              scrollAmount += step;
              if(scrollAmount >= distance){
                  window.clearInterval(slideTimer);
              }
          }, speed);
      }
      </script>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Multi-column",
  "class": "shopify-section--multi-column",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "label": "Stack on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "Hide on mobile",
      "default": false
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "id": "side_margin",
      "unit": "px",
      "label": "Add side margin",
      "default": 0
    },
    {
      "type": "select",
      "id": "gap",
      "label": "Gap spacing",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
        "value": "x-large",
        "label": "X-Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "About"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured content"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Organize content into multiple columns to share useful information to your customers about your products, values...</p>"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Product card background"
    },
    {
      "type": "color",
      "id": "product_card_text_color",
      "label": "Product card text"
    },
    {
      "type": "color",
      "id": "newsletter_background_color",
      "label": "Newsletter background"
    },
    {
      "type": "color",
      "id": "newsletter_text_color",
      "label": "Newsletter text color"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 1400px .jpg recommended"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "Video are muted automatically and will autoplay."
        },
        {
          "type": "range",
          "id": "item_icon_width",
          "min": 0.2,
          "max": 2,
          "step": 0.1,
          "label": "Image scale",
          "default": 1
        },
        {
          "type": "select",
          "id": "column_size",
          "label": "Desktop item size",
          "options": [
            {
              "value": "4",
              "label": "25%"
            },
            {
              "value": "3",
              "label": "33%"
            },
            {
              "value": "2",
              "label": "50%"
            },
            {
              "value": "1.5",
              "label": "66%"
            }
          ],
          "default": "3"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Column title"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h4"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "select",
          "id": "link_style",
          "label": "Link style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "link"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add extra space between columns. Ignored on mobile and tablets."
        },
        {
          "type": "select",
          "id": "column_size",
          "label": "Desktop item size",
          "options": [
            {
              "value": "12",
              "label": "8%"
            },
            {
              "value": "6",
              "label": "16%"
            },
            {
              "value": "4",
              "label": "25%"
            },
            {
              "value": "3",
              "label": "33%"
            }
          ],
          "default": "12"
        }
      ]
    },
    {
      "type": "product_with_banner",
      "name": "Product with Banner",
      "settings": [
        {
          "type": "select",
          "id": "column_size",
          "label": "Desktop item size",
          "options": [
            {
              "value": "4",
              "label": "25%"
            },
            {
              "value": "3",
              "label": "33%"
            },
            {
              "value": "2",
              "label": "50%"
            },
            {
              "value": "1.5",
              "label": "66%"
            }
          ],
          "default": "4"
        },
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Image",
          "info": "1400 x 1400px .jpg recommended"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Link URL"
        },
        {
          "type": "select",
          "id": "banner_position",
          "label": "Banner Position",
          "options": [
            {
              "value": "above",
              "label": "Above Product"
            },
            {
              "value": "bellow",
              "label": "Bellow Product"
            }
          ],
          "default": "above"
        },
        {
          "type": "header",
          "content": "Product"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Select a Product"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Percent",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Star",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Building",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Award gift",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Happy",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validation",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Return",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Earth",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Secure profile",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Money",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Recycle",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Leaf",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Tree",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Mobile phone",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operator",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Mailbox",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Question",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "At sign",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Camera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Printer",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Smart watch",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Coffee",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Burger",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Beer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Target",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Document",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Jewelry",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Music",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "File",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Stop",
              "group": "Other"
            }
          ],
          "default": "picto-coupon"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "240 x 240px .png recommended"
        },
        {
          "type": "range",
          "id": "mobile_icon_width",
          "min": 24,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "Mobile icon width",
          "default": 24
        },
        {
          "type": "range",
          "id": "icon_width",
          "min": 24,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "Icon width",
          "default": 32
        },
        {
          "type": "select",
          "id": "icon_background_type",
          "label": "Icon background type",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "circle",
              "label": "Circle"
            }
          ],
          "default": "circle"
        },
        {
          "type": "color",
          "id": "icon_background",
          "label": "Icon background"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "info": "Do not have effect when using custom icon."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Sign up for our newsletter and be the first to know about coupons and special promotions.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "consent_label",
          "label": "Consent label",
          "default": "<p>I agree to receive your newsletter and accept the <a href=\"#\">privacy policy</a>.</p>"
        },
        {
          "type": "paragraph",
          "content": "Add extra space between columns. Ignored on mobile and tablets."
        },
        {
          "type": "select",
          "id": "column_size",
          "label": "Desktop item size",
          "options": [
            {
              "value": "12",
              "label": "8%"
            },
            {
              "value": "6",
              "label": "16%"
            },
            {
              "value": "4",
              "label": "25%"
            },
            {
              "value": "3",
              "label": "33%"
            }
          ],
          "default": "12"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi-column",
      "blocks": [
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}